.content {
	display: flex;
	align-items: center;
}
#title {
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 5rem;
	text-decoration: none;
	color: #fffbe6;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/*Neon*/
#title {
	text-shadow: 0 0 10px rgb(199, 199, 199), 0 0 20px rgb(199, 199, 199),
		0 0 30px rgb(199, 199, 199), 0 0 40px #ffdd1b, 0 0 70px #ffdd1b,
		0 0 80px #ffdd1b, 0 0 100px #be1bff, 0 0 150px #ffdd1b;
	/* -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
	-moz-animation: neon3 1.5s ease-in-out infinite alternate;
	animation: neon3 1.5s ease-in-out infinite alternate; */
}
@media screen and (min-width: 315px) {
	#title {
		font-size: 3rem;
	}
}
@media screen and (min-width: 411px) {
	#title {
		font-size: 4.5rem;
	}
}
@media screen and (min-width: 1024px) {
	#title {
		font-size: 6rem;
	}
}
/* 
@keyframes neon3 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
			0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
			0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
	}
} */
